body {
    text-align: center;
    margin: 0;
}

h1 {
    font-family: Monoton;
    font-size: 50px;
    margin: 0 0.2em 0.2em;
    letter-spacing: 6px;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 4em;
}
/* end of default styles 

   start of my styles */
header {
    background: linear-gradient(to bottom right, #50c3c9, #a469e0);
    box-shadow: 5px 5px 7px #a8b9f4;
    margin-bottom: 30px;
}


#sizePicker, .color_choices, .fill_clear_buttons {
    text-align: center;
    line-height: 40px;
    font-family: Arial;
    font-size: 15px;

}
.chose_grid, .chose_color, .fill_clear_buttons, .design_canvas {
    font-family: 'Sedgwick Ave Display', cursive;
    margin-bottom: 15px;
    font-size: 30px;
}
.right_click_instructions {
    margin: 15px 0 0 0;
    line-height: 15px;
}
.fill_clear_buttons {
    line-height: 10px;
    align-items: center;
}
.fill_clear_input, .delete_borders {
    padding: 15px 0 15px 0;
}

.table {
    margin: 0 auto;
}
.borederless {
    border: none;
}

.button {
    background: #50a7c7;
    background-image: -webkit-linear-gradient(top, #50a7c7, #6c68de);
    background-image: -moz-linear-gradient(top, #50a7c7, #6c68de);
    background-image: -ms-linear-gradient(top, #50a7c7, #6c68de);
    background-image: -o-linear-gradient(top, #50a7c7, #6c68de);
    background-image: linear-gradient(to bottom, #50a7c7, #6c68de); 
    -webkit-border-radius: 13;
    -moz-border-radius: 13;
    border-radius: 13px;
    -webkit-box-shadow: 3px 3px 7px #a8b9f4;
    -moz-box-shadow: 3px 3px 7px #a8b9f4;
    box-shadow: 3px 3px 7px #a8b9f4;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 7px 10px 7px 10px;
    text-decoration: none;
    outline:none; 
}
.button:hover {
    cursor: pointer;
}

.user_inputs {
    margin: 0 auto;
    width: 85%; 
    display: grid;
    grid-auto-rows: max-content;
    justify-items:stretch;
    align-items:stretch;
}

.grid_size, .color_choices, .fill_clear_buttons {
    border: 1px solid #a8b9f4;
    border-radius: 10px;
    padding:  10px;
    margin: 10px;
    background: #d6e0ff;
}
.grid_size:hover, .color_choices:hover, .fill_clear_buttons:hover {
    box-shadow: 5px 5px 7px #a8b9f4;
}
@media screen and (min-width: 992px) {
    .grid_size {
        grid-column: 1/2;
        grid-row: 1;
    }
    .color_choices {
        grid-column: 2/3;
        grid-row: 1;
    }
    .fill_clear_buttons {
        grid-column:3/3;
        grid-row:1;
    }   
    .table {
        grid-column:1/4;
        grid-row:2;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .grid_size {
        grid-column: 1/3;
        grid-row: 1;
    }
    .color_choices {
        grid-column: 1/2;
        grid-row: 2;
    }
    .fill_clear_buttons {
        grid-column:2/2;
        grid-row:2;
    } 
    .table {
        grid-column:1/3;
        grid-row:3;
    }

}
@media screen and (max-width: 767px) {
    .grid_size {
        grid-column: 1/1;
        grid-row: 1;
    }
    .color_choices {
        grid-column: 1/1;
        grid-row: 2;
    }
    .fill_clear_buttons {
        grid-column:1/1;
        grid-row:3;
    } 
}